 .container{
            text-align: center;
            
        }
      
        .inline{
            display: inline-block;
        }
        #blue{
           height: 30px;
            width: 90px;
            background-color: blue;
                 
        }
        li{
            margin: 0px;
            display: inline-block;
            padding: 0px;
           
        }
        #red{
           height: 30px;
            width: 90px;
            margin: 0px;
            background-color: red;
            
        }
        #green{
          height: 30px;
            width: 90px;
            margin: 0px;
            background-color: green;
        }
         #aqua{
             height: 30px;
            width: 90px;
            margin: 0px;
            background-color: aqua;
        }
         #coral{
           height: 30px;
            width: 90px;
            margin: 0px;
            background-color: coral;
        }
        #circle{
            text-align: center;
            height: 300px;
            width: 300px;
            background-color: aquamarine;
            border-radius: 50%;
            margin-top: 90px;
        }